*{
    margin: 0;
    padding: 0;
    font-family:'Times New Roman';
}
body {
    font-family: Arial, sans-serif;
    background-color: #fceffa;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;

}

.container {
    background-color: #fff;
    padding: 20px;
    border-radius: 15px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 700px;
    text-align: center;
}

input[type="number"] {
    width: 80%;
    padding: 8px;
    margin-top: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 10px;
}

button {
    padding: 10px 15px;
    background-color: #7d8a8b;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

button:hover {
    background-color: #b73fbb;
}

#resultado {
    margin-top: 15px;
    color: #333;
    font-size: 1.1rem;
}
